<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Вы в эфире</title>
  </head>
  <body>
    Здравствуйте, <%= username %>! Вы зарегистрировались в 10levels.
    Ваш пароль: <%= pass %>
  </body>
</html>
